<h1>Editing snort_rule</h1>

<%= error_messages_for :snort_rule %>

<% form_for(@snort_rule) do |f| %>
  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Snortruletype</b><br />
    <%= f.text_field :snortruletype_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @snort_rule %> |
<%= link_to 'Back', snort_rules_path %>
