<h1>Listing snort_rules</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Snortruletype</th>
  </tr>

<% for snort_rule in @snort_rules %>
  <tr>
    <td><%=h snort_rule.description %></td>
    <td><%=h snort_rule.snortruletype_id %></td>
    <td><%= link_to 'Show', snort_rule %></td>
    <td><%= link_to 'Edit', edit_snort_rule_path(snort_rule) %></td>
    <td><%= link_to 'Destroy', snort_rule, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New snort_rule', new_snort_rule_path %>
